.topbar {
    display: flex;
    justify-content: space-around;
    width: 100%;    
    color: green;     
    background-color: white;
    padding: 1rem; 
    
    position: fixed;
    top: 0;
    z-index: 1000;
}


/* LOGO */
.logo {
    display: flex;
    gap: 0.5rem;
}

.topbar-icon{
    position: relative;
    top: 0.8rem;  
    color: rgb(237, 159, 14);
    
    
}

.topbar-title h4{
   color: rgb(237, 159, 14);
   
}

/* SEARCH */

.search {
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}

.searchTerm {
    width: 100%;
    border: 3px solid green;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid green;
    background: green;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* USER */

.user-icons{    
    display: flex;
    align-items: center;
    border-left: solid 0.5px orange;
}

.login-icon,
.cart-icon {
    margin: 0.5rem;
}

/* burger-menu */

.burger-menu{
    display: flex;
    align-items: center;
    
}




@media(max-width: 750px) {
    .search{
        display: none;        
    }
    .user-icons{
        display: none;
    }

    .burger-icon{
        display: block;
    }

}

@media(min-width: 751px) {
    .burger-icon {
        display: none;
    }
}